nav {
    width: 100vw;
    height: 224px;
    padding: 40px 100px;
    background: linear-gradient(90.23deg, #05EDE3 0.02%, #645FFB 99.63%);
    position: relative;
    display: flex;
    justify-content: space-between;
}

nav span {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: white;
    margin-left: 7;
    margin-right: 16px;
}

.right {
    display: flex;
    align-items: center;
    height: 41px;
    width: 131px;
}

.perfil {
    cursor: pointer;
}

.sair {
    cursor: pointer;
}